<ion-view title="Edit Absensi Siswa" id="absensiSiswaEditAdmin" view-cache="false" class="latar">
    <ion-nav-buttons side="right" class="has-header">
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
                <form id="registrasi-form1" class="list" ng-submit="simpan()" name="myForm">

                    <div class="item item-body">
                        <div class="show-list-numbers-and-dots">
                            <div class="row">
                                <div class="col-33" style="padding-left:10px">
                                    <small>Tahun Ajaran <br>
                                        Semester<br>
                                        Pelajaran<br>
                                        Guru<br>
                                        Kelas<br>
                                        Sekolah<br>
                                    </small>
                                </div>
                                <div class="col-67">
                                    <small>
                                        : {{dataAbsensi.tahunAjaran}}<br>
                                        : {{dataAbsensi.semester}}<br>
                                        : {{dataAbsensi.pelajaran}}<br>
                                        : {{dataAbsensi.namaGuru}}<br>
                                        : {{dataAbsensi.namaKelas}}<br>
                                        : {{dataAbsensi.namaSekolah}}<br>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="spacer" style="height: 10px;"></div>
                    <ion-item class="item-divider input" id="registrasi-list-item-divider4"> Data Absensi Siswa
                    </ion-item>
                    <div>
                        <label class="item item-select" ng-repeat="data in dataSiswa">
                            <span class="input-label">
                                <small>{{$index+1}}. {{data.namaSiswa}}</small>
                            </span>
                            <select ng-model="data.keterangan" ng-change="getAbsensi(data)">
                                <option value="Masuk">Masuk</option>
                                <option value="Sakit">Sakit</option>
                                <option value="Ijin">Ijin</option>
                                <option value="Alpha">Alpha</option>
                            </select>
                        </label>
                    </div>
                    <button id="registrasi-button3" class="button button-balanced button-block">Simpan Data</button>
                </form>
            </div>
        </div>
        
    </ion-content>
</ion-view>