<ion-view title="{{formData.namaPengguna}}" id="berandaUser" class="bg-gradient-blue">
  <ion-nav-buttons side="right" class="has-header">
    <!-- <button class="button icon ion-android-textsms" ng-click="goToPesan()"></button>&nbsp; -->
    <!-- <button class="button icon ion-android-notifications" ng-click="goToTugas()" ng-if="tugasYangBelumDibaca!==0">
            <b>{{tugasYangBelumDibaca}}</b> Tugas Baru</button> -->
  </ion-nav-buttons>
  <style>
    .vertical-center {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    /* .icon-card{
            width:50%;
            margin-top:10%;

        } */
    .card {
      height: 100%;
      width: 100%;
      margin-bottom: 0;
      position: relative;
      border-radius: 5px !important;
      /* box-shadow :1px 0.5px 0.5px 0.5px rgb(219, 219, 219); */
      border: 1px solid rgb(219, 219, 219)
    }

    .button-profile {
      border-radius: 100px;
      width: 10%;
      margin-top: 10px;
    }

    #main-content {
      left: 10vw;
      right: 10vw;
      top: 35vh;
    }

    .center {
      margin-left: auto;
      margin-right: auto;
    }

    .w-100 {
      width: 100%;
    }

    .padding-0 {
      padding: 0;
    }

    #bg-blue-card {
      z-index: -1;
      height: 35vh;
    }

    #bg-white-card {
      height: 65vh;
      z-index: -1;
      width: 100vw;

      background-color: rgb(247, 247, 247);
    }

    .bg-transparant {
      opacity: 0.3;
      width: 25%;
    }

    @media screen and (max-width: 1024px) {
      #main-content {
        margin-top: 30%;
        left: 10px;
        right: 0px;
        top: 35vh
      }

      /* #bg-white-card{
                height: 75vh;
                border-radius: 20px 20px 0px 0px;
                background-image:url(../../../img/logo1sukasada.png);
                background-size: cover;
            } */
      .bg-transparant {
        /* display: none; */
        width: 50% !important;
      }

      #bg-blue-card {
        z-index: -1;
        height: 45vh;
      }

      .button-profile {
        width: 55%;
      }

      .icon-card {
        /* width: 70px; */
        max-width: 25%;
        /* margin-top: 10%; */
      }
    }

    @media screen and (max-width: 770px) {
      #main-content {
        margin-top: 30%;
        left: 10px;
        right: 0px;
        top: 23vh
      }

      /* #bg-white-card{
                height: 75vh;
                border-radius: 20px 20px 0px 0px;
                background-image:url(../../../img/logo1sukasada.png);
                background-size: cover;
            } */
      /* .bg-transparant {
        display: none;
      } */

      #bg-blue-card {
        z-index: -1;
        height: 30vh;
      }

      .button-profile {
        width: 55%;
      }

      .icon-card {
        /* width: 55px;
        margin-top: 20%; */
        min-width: 50% !important;
      }
    }

    @media screen and (max-width: 540px) {
      #main-content {
        margin-top: 30%;
        left: 10px;
        right: 0px;
        top: 38vh
      }

      #bg-white-card {
        height: 80vh;
        border-radius: 20px 20px 0px 0px;
        background-image: url(../../../img/bg-transparant.png);
        background-size: cover;
      }

      .bg-transparant {
        /* display: none; */
        width: 50% !important;
      }

      #bg-blue-card {
        z-index: -1;
        height: 50vh;
      }

      .button-profile {
        width: 55%;
      }

      .icon-card {
        /* width: 50% !important;
        margin-top: 15%; */
        min-width: 50% !important;
      }
    }

    @media screen and (max-width: 420px) {
      #main-content {
        margin-top: 30%;
        left: 10px;
        right: 0px;
        top: 38vh
      }

      /* #bg-white-card{
                height: 80vh;
                border-radius: 20px 20px 0px 0px;
                background-image:url(../../../img/bg-transparant.png);
                background-size: cover;
            } */
      .bg-transparant {
        /* display: none; */
        width: 1000px !important;
      }

      #bg-blue-card {
        z-index: -1;
        height: 50vh;
      }

      .button-profile {
        width: 55%;
      }

      /* .icon-card {
        width: 50% !important;
        margin-top: 20%;
      } */
    }

    @media screen and (max-width: 321px) {
      #main-content {
        margin-top: 30%;
        left: 10px;
        right: 0px;
        top: 40vh
      }

      /* #bg-white-card{
                background-image:url(../../../img/logo1sukasada.png);
                background-size: cover;
            } */
      /* .bg-transparant {
        display: none;
      } */
    }

  </style>

  <ion-content padding="">
    <div class="row" style="margin: 0;width: 100%;padding:0;">
      <div class="col col-100" style="margin: 0;width: 100%;padding:0;">
        <div id="bg-blue-card">
          <center>
            <img src="https://image.flaticon.com/icons/svg/145/145867.svg" ng-if="jenisKelaminSiswa==='Laki-laki'"
              class="avatar" style="border:2px solid white; ">
            <img src="https://image.flaticon.com/icons/svg/145/145864.svg" ng-if="jenisKelaminSiswa==='Perempuan'"
              class="avatar" style="border:2px solid white; ">
            <h4 style="color: white;font-weight: bold;">{{formData.namaPengguna}}</h4>
            <h5>
              <strong style="color:white">{{formData.namaSekolah}}</strong><br>
              <span ng-if="statusSiswa==='Siswa'" style="color:white">Kelas {{formData.namaKelas}}</span><br>
              <!-- <span style="color:white">
                                {{formData.namaKotaKabupaten}}, {{formData.namaProvinsi}}
                            </span> -->
              <button class="button button-light button-profile"
                ui-sref="menuSiswa.profilPenggunaSiswa()">Profile</button>

            </h5>
          </center>
        </div>
      </div>

    </div>
    <div class="row" style="margin: 0;width: 100%;padding:0;">
      <div class="col col-100" style="margin: 0;width: 100%;padding:0;">
        <div id="bg-white-card" style="position:relative">
          <center>
            <div ng-if="idSekolahSiswa==='-MfbLcag5nLp210rIgPK'" class="vertical-center">

              <img class="bg-transparant" src="../../../img/logo1sukasada.png" alt="">

            </div>
          </center>
        </div>
      </div>
    </div>

    <!-- <div class="row responsive-lg" style="margin: auto;" ng-if="akses===false">
            <div class="col col-50 col-offset-25">
                <div class="kartu">
                    <h4>{{update.judul}}</h4>
                    <p>{{update.pesan}}</p>
                    <a ng-if="update.linkAndroid!==''" href="{{update.linkAndroid}}" target="new"
                        class="button button-positive button-block">Klik Tombol Ini Untuk Update Aplikasi
                    </a>
                </div>
            </div>
        </div> -->

    <div id="main-content" ng-if="ijinkanPenggunaanAplikasi===true" style="margin:auto;z-index: 1;position: absolute;">

      <div class="container row responsive-lg" style="margin-right: auto;margin-right: auto;">
        <div class="col col-50" style="padding-bottom: 0;padding-top: 0;margin:0;">
          <div class="row" ng-if="jenjangSiswa==='SMA' || jenjangSiswa==='SMK'">
            <div class="col" style="height: 20vh;margin:0; width: 100%;">
              <div class="card " ui-sref="menuSiswa.kelasLintasMinat()">
                <center>
                  <img class="icon-card" src="https://image.flaticon.com/icons/svg/1089/1089129.svg">
                  <br>
                  <span style="font-size:10px;color:rgb(65, 64, 64)">Kelas Lintas Minat</span>

                </center>

              </div>
            </div>
            <div class="col" style="height: 20vh;margin:0">

            </div>
            <div class="col" style="height: 20vh;margin:0">

            </div>
          </div>
          <div class="row">
            <div class="col" style="height: 20vh;margin:0; width: 100%;">
              <div class="card " ui-sref="menuSiswa.jadwalPelajaranSiswa()">
                <center>
                  <div class="vertical-center">
                    <img class="icon-card" src="https://image.flaticon.com/icons/svg/201/201552.svg" width="50%">
                    <h5 style="font-size:10px;color:rgb(65, 64, 64)">Jadwal</h5>
                  </div>
                </center>
              </div>
            </div>
            <div class="col" style="height: 20vh;margin:0">
              <div class="card " ui-sref="menuSiswa.absensiSiswa()">
                <center>
                  <div class="vertical-center">
                    <img class="icon-card" src="https://image.flaticon.com/icons/svg/235/235251.svg" width="50%">
                    <h5 style="font-size:10px;color:rgb(65, 64, 64)">Absensi Siswa</h5>
                  </div>

                </center>
              </div>
            </div>
            <div class="col" style="height: 20vh;margin:0">
              <div class="card " ui-sref="menuSiswa.tugasSiswaPerMapel()">
                <center>
                  <div class="vertical-center">
                    <img class="icon-card" src="https://image.flaticon.com/icons/svg/178/178150.svg" width="50%">
                    <h5 style="font-size:10px;color:rgb(65, 64, 64)">Tugas Siswa</h5>
                  </div>
                </center>

              </div>
            </div>
          </div>
        </div>
        <div class="col col-50" style="padding-bottom: 0;padding-top: 0;margin:0">
          <div class="row">
            <div class="col" style="height: 20vh;margin:0;">
              <div class="card " ui-sref="menuSiswa.bankSoalSiswa()">
                <center>
                  <div class="vertical-center">
                    <img class="icon-card" src="https://image.flaticon.com/icons/svg/201/201638.svg" width="50%">
                    <h5 style="font-size:10px;color:rgb(65, 64, 64)">Bank Soal</h5>
                  </div>

                </center>
              </div>
            </div>
            <div class="col" style="height: 20vh;margin:0">
              <div class="card " ui-sref="menuSiswa.materiPelajaranSiswa()">
                <center>
                  <div class="vertical-center">
                    <img class="icon-card" src="https://image.flaticon.com/icons/svg/1838/1838007.svg" width="50%">
                    <h5 style="font-size:10px;color:rgb(65, 64, 64)">Materi Pelajaran</h5>
                  </div>
                </center>
              </div>
            </div>
            <div class="col" style="height: 20vh;margin:0">
              <div class="card " ng-click="goMeeting()">
                <center>
                  <div class="vertical-center">
                    <img class="icon-card" src="https://image.flaticon.com/icons/svg/201/201636.svg" width="50%">
                    <h5 style="font-size:10px;color:rgb(65, 64, 64)">Kelas Virtual</h5>
                  </div>
                </center>

              </div>
            </div>
          </div>
        </div>
        <div class="col col-50" style="padding-bottom: 0;padding-top: 0;margin:0">
          <div class="row">
            <div class="col" style="height: 20vh;margin:0;">
              <div class="card " ui-sref="menuSiswa.ujianOnlineSiswa()">
                <center>
                  <div class="vertical-center">
                    <img class="icon-card" src="https://image.flaticon.com/icons/svg/201/201635.svg" width="50%">
                    <h5 style="font-size:10px;color:rgb(65, 64, 64)">Ulangan</h5>
                  </div>
                </center>
              </div>
            </div>
            <div class="col" style="height: 20vh;margin:0">
              <div class="card " ui-sref="menuSiswa.latihanSoalOnlineSiswa()">
                <center>
                  <div class="vertical-center">
                    <img class="icon-card" src="https://image.flaticon.com/icons/svg/234/234653.svg" width="50%">
                    <h5 style="font-size:10px;color:rgb(65, 64, 64)">Latihan / Kuis</h5>
                  </div>
                </center>
              </div>
            </div>
            <div class="col" style="height: 20vh;margin:0">
              <div class="card " ui-sref="menuSiswa.videoTutorialSiswa()">
                <center>
                  <div class="vertical-center">
                    <img class="icon-card" src="https://image.flaticon.com/icons/svg/185/185983.svg" width="50%">
                    <h5 style="font-size:10px;color:rgb(65, 64, 64)">Video Tutorial</h5>
                  </div>
                </center>

              </div>
            </div>
            
          </div>
        </div>
      </div>


    </div>

    <div class="row responsive-lg" style="margin: auto;"
      ng-if="ijinkanPenggunaanAplikasi===false || ijinkanPenggunaanAplikasi===undefined">
      <div class="col col-50 col-offset-25">
        <div class="kartu">
          <h4>{{pesanKeSiswa.judulPesan}}</h4>
          <p>{{pesanKeSiswa.isiPesan}}</p>
          <a ng-if="pesanKeSiswa.link!==''" href="{{pesanKeSiswa.link}}" target="new"
            class="button button-positive button-block">Klik Tombol Ini
          </a>
        </div>
        <ion-item class="item-icon-left" ng-repeat="data in adminSekolah" href="tel:{{data.noHandphone}}"
          ng-if="jumlahAdminSekolah!==0 && data.noHandphone.length>4">
          <i class="icon ion-ios-telephone"></i>
          <p>{{data.noHandphone}}<br>{{data.namaPengguna}}</p>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>
