<ion-view title="{{formData.namaPengguna}}" id="berandaUser">
    <ion-nav-buttons side="right" class="has-header">
        <!-- <button class="button icon ion-android-textsms" ng-click="goToPesan()"></button>&nbsp; -->
        <!-- <button class="button icon ion-android-notifications" ng-click="goToTugas()" ng-if="tugasYangBelumDibaca!==0">
            <b>{{tugasYangBelumDibaca}}</b> Tugas Baru</button> -->
    </ion-nav-buttons>
    <style>
        span{
            color: white !important;
        }
    </style>

    <ion-content padding="true" class="has-header">
        <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
                <div class="card">
                    <div class="row">
                        <div class="col col-25">
                            <div style="margin:15%">
                                <center>
                                    <img src="https://image.flaticon.com/icons/svg/145/145867.svg"
                                    ng-if="jenisKelaminSiswa==='Laki-laki'" class="avatar" style="margin:auto">
                                <img src="https://image.flaticon.com/icons/svg/145/145864.svg"
                                    ng-if="jenisKelaminSiswa==='Perempuan'" class="avatar" style="margin:auto">
                                </center>

                            </div>

                        </div>
                        <div class="col">
                            <div style="margin-left: 5%;">
                                <div style="margin-top:4vh">
                                    <h3 style="color: green;">{{formData.namaPengguna}}</h3>
                                    <h5>
                                        <strong>{{formData.namaSekolah}}</strong><br>
                                        <span ng-if="statusSiswa==='Siswa'">Kelas {{formData.namaKelas}}</span><br>
                                        {{formData.namaKotaKabupaten}}, {{formData.namaProvinsi}}
                                    </h5>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- <div class="row responsive-md" style="margin: auto;" ng-if="akses===false">
            <div class="col col-50 col-offset-25">
                <div class="kartu">
                    <h4>{{update.judul}}</h4>
                    <p>{{update.pesan}}</p>
                    <a ng-if="update.linkAndroid!==''" href="{{update.linkAndroid}}" target="new"
                        class="button button-positive button-block">Klik Tombol Ini Untuk Update Aplikasi
                    </a>
                </div>
            </div>
        </div> -->

        <div ng-if="ijinkanPenggunaanAplikasi===true">
            <div class="container row responsive-md" style="margin: auto;">
                <div class="col col-50" style="height: 20vh;margin:0">
                    <div class="row" style="margin-left: auto;margin-right: auto;">
                        <div class="col" ng-if="jenjangSiswa==='SMA' || jenjangSiswa==='SMK'"  style="height: 20vh;margin:0">
                            <div class="card bg-gradient-blue"  ui-sref="menuSiswa.kelasLintasMinat()">
                                <center>
                                    <img src="https://image.flaticon.com/icons/svg/1089/1089129.svg" width="50%">
                                    <br>
                                    <span style="font-size:10px;color:rgb(65, 64, 64)">Kelas Lintas Minat</span>
                                </center>

                            </div>
                        </div>
                        <div class="col" style="height: 20vh;margin:0">
                            <div class="card bg-gradient-blue" ui-sref="menuSiswa.jadwalPelajaranSiswa()">
                                <center>
                                    <img src="https://image.flaticon.com/icons/svg/201/201552.svg" width="50%"
                                    >
                                <br>
                                <span style="font-size:10px;color:rgb(65, 64, 64)">Jadwal</span>
                                </center>

                            </div>
                        </div>
                        <div class="col" style="height: 20vh;margin:0">
                            <div class="card bg-gradient-blue" ui-sref="menuSiswa.absensiSiswa()">
                                <center>
                                    <img src="https://image.flaticon.com/icons/svg/235/235251.svg" width="50%"
                                    >
                                <br>
                                <span style="font-size:10px;color:rgb(65, 64, 64)">Absensi Siswa</span>
                                </center>

                            </div>
                        </div>
                        <div class="col" style="height: 20vh;margin:0">
                            <div class="card bg-gradient-blue" ui-sref="menuSiswa.tugasSiswaPerMapel()">
                                <center>
                                    <img src="https://image.flaticon.com/icons/svg/178/178150.svg" width="50%"
                                    >
                                <br>
                                <span style="font-size:10px;color:rgb(65, 64, 64)">Tugas Siswa</span>
                                </center>

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left: auto;margin-right: auto;">
                        <div class="col" style="height: 20vh;margin:0">
                            <div class="card bg-gradient-blue" ui-sref="menuSiswa.bankSoalSiswa()">
                                <center>
                                    <img src="https://image.flaticon.com/icons/svg/201/201638.svg" width="50%"
                                    >
                                <br>
                                <span style="font-size:10px;color:rgb(65, 64, 64)">Bank Soal</span>
                                </center>
                            </div>
                        </div>
                        <div class="col" style="height: 20vh;margin:0">
                            <div class="card bg-gradient-blue" ui-sref="menuSiswa.materiPelajaranSiswa()">
                                <center>
                                    <img src="https://image.flaticon.com/icons/svg/1838/1838007.svg" width="50%"
                                    >
                                <br>
                                <span style="font-size:10px;color:rgb(65, 64, 64)">Materi Pelajaran</span>
                                </center>

                            </div>
                        </div>
                        <div class="col" style="height: 20vh;margin:0">
                            <div class="card bg-gradient-blue" ng-click="goMeeting()">
                                <center>
                                    <img src="https://image.flaticon.com/icons/svg/201/201636.svg" width="50%"
                                    >
                                <br>
                                <span style="font-size:10px;color:rgb(65, 64, 64)">Kelas Virtual</span>
                                </center>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-50" style="height: 20vh;margin:0">
                    <div class="row "style="margin-left: auto;margin-right: auto;">
                        <div class="col" style="height: 20vh;margin:0">
                            <div class="card bg-gradient-blue" ui-sref="menuSiswa.ujianOnlineSiswa()">
                                <center>
                                    <img src="https://image.flaticon.com/icons/svg/201/201635.svg" width="50%"
                                    >
                                <br>
                                <span style="font-size:10px;color:rgb(65, 64, 64)">Ulangan</span>
                                </center>

                            </div>
                        </div>
                        <div class="col" style="height: 20vh;margin:0">
                            <div class="card bg-gradient-blue" ui-sref="menuSiswa.latihanSoalOnlineSiswa()">
                                <center>
                                    <img src="https://image.flaticon.com/icons/svg/234/234653.svg" width="50%"
                                    >
                                <br>
                                <span style="font-size:10px;color:rgb(65, 64, 64)">Latihan / Kuis</span>
                                </center>

                            </div>
                        </div>
                        <div class="col" style="height: 20vh;margin:0">
                            <div class="card bg-gradient-blue"  ui-sref="menuSiswa.berandaUTSUASSiswa()">
                                <center>
                                    <img src="https://image.flaticon.com/icons/svg/1837/1837963.svg" width="50%">
                                    <br>
                                    <span style="font-size:10px;color:rgb(65, 64, 64)">UTS / UAS</span>
                                </center>

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left: auto;margin-right: auto;">
                        <div class="col" style="height: 20vh;margin:0">
                            <div class="card bg-gradient-blue" ui-sref="menuSiswa.berandaTryoutOnlineSiswa()">
                                <center>
                                    <img src="https://image.flaticon.com/icons/svg/235/235296.svg" width="50%"
                                    >
                                <br>
                                <span style="font-size:10px;color:rgb(65, 64, 64)">Tryout Online</span>
                                </center>

                            </div>
                        </div>
                        <div class="col" style="height: 20vh;margin:0">
                            <!-- <div class="card bg-gradient-blue"></div> -->
                        </div>
                        <div class="col" style="height: 20vh;margin:0">
                            <!-- <div class="card bg-gradient-blue"></div> -->
                        </div>
                    </div>
                </div>

                    <!-- <div class="">
                        <h5 style="text-align: center;">Ujian Online Umum :</h5>
                        <div class="row" style="margin:auto;">
                            <div class="col" align="center" ui-sref="menuSiswa.latihanSoalOnlineSiswaUmum()">
                                <img src="https://image.flaticon.com/icons/svg/1837/1837963.svg" width="50%"
                                    >
                                <br>
                                <span style="font-size:10px;color:rgb(65, 64, 64)">Latihan Online</span>
                            </div>
                            <div class="col" align="center" ui-sref="menuSiswa.kuisOnlineSiswaUmum()">
                                <img src="https://image.flaticon.com/icons/svg/1837/1837989.svg" width="50%"
                                    >
                                <br>
                                <span style="font-size:10px;color:rgb(65, 64, 64)">Kuis Online</span>
                            </div>
                            <div class="col" align="center" ui-sref="menuSiswa.tryoutOnlineSiswaUmum()">
                                <img src="https://image.flaticon.com/icons/svg/1803/1803764.svg" width="50%"
                                    >
                                <br>
                                <span style="font-size:10px;color:rgb(65, 64, 64)">Tryout Online</span>
                            </div>
                            <div class="col" align="center" ui-sref="menuSiswa.socSiswa()">
                                <img src="https://image.flaticon.com/icons/svg/178/178161.svg" width="50%"
                                    >
                                <br>
                                <span style="font-size:10px;color:rgb(65, 64, 64)">SOC</span>
                            </div>
                        </div>
                    </div> -->

            </div>
        </div>

        <div class="row responsive-md" style="margin: auto;" ng-if="ijinkanPenggunaanAplikasi===false || ijinkanPenggunaanAplikasi===undefined">
            <div class="col col-50 col-offset-25">
                <div class="kartu">
                    <h4>{{pesanKeSiswa.judulPesan}}</h4>
                    <p>{{pesanKeSiswa.isiPesan}}</p>
                    <a ng-if="pesanKeSiswa.link!==''" href="{{pesanKeSiswa.link}}" target="new"
                        class="button button-positive button-block">Klik Tombol Ini
                    </a>
                </div>
                <ion-item class="item-icon-left" ng-repeat="data in adminSekolah" href="tel:{{data.noHandphone}}"
                    ng-if="jumlahAdminSekolah!==0 && data.noHandphone.length>4">
                    <i class="icon ion-ios-telephone"></i>
                    <p>{{data.noHandphone}}<br>{{data.namaPengguna}}</p>
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>