<ion-view title="Bank Soal Edit" id="bankSoalTambahAdmin" cache-view="false" style="background-color: #EEEEEE">
    <ion-content padding="false" class="has-header">
    <div class="row responsive-md" style="margin: auto;">
        <div class="col col-50 col-offset-25">
        <ion-list id="bankSoalTambahAdmin-list19">
            <form id="tambahSoal-form7" class="list" ng-submit="simpan()">
                <ion-item class="item-divider" id="tambahSoal-list-item-divider11"> Info Soal</ion-item>
                <label class="item item-select" id="tambahSoal-select12">
                    <span class="input-label">
                        <p>Jenjang</p>
                    </span>
                    <select ng-model="formData.jenjang" ng-change="getJenjang()">
                        <option>SD</option>
                        <option>SMP</option>
                        <option>SMA</option>
                        <option>SMK</option>
                    </select>
                </label>
                <label class="item item-select" id="tambahSoal-select13">
                    <span class="input-label">
                        <p>Kelas</p>
                    </span>
                    <select ng-model="formData.kelas" ng-change="getKelas()">
                        <option ng-repeat="data in kelas">{{data}}</option>
                    </select>
                </label>
                <label class="item item-select">
                    <span class="input-label">
                        <p>Pelajaran</p>
                    </span>
                    <select ng-model="formData.idPelajaran" ng-change="getPelajaran()">
                        <option value="{{data.$id}}" ng-repeat="data in mataPelajaran">{{data.pelajaran}}</option>
                    </select>
                </label>
                <label class="item item-select">
                    <span class="input-label">
                        <p>Kategori</p>
                    </span>
                    <select ng-model="formData.kategori">
                        <option value="Umum">Soal Umum</option>
                        <option value="SBMPTN">Soal SBMPTN</option>
                        <option value="Olimpiade">Soal Olimpiade</option>
                        <option value="CPNS">Soal CPNS</option>
                    </select>
                </label>
                <div class="spacer" style="height: 10px;"></div>

                <ion-item class="item-divider" id="tambahSoal-list-item-divider12">Kompetensi Inti</ion-item>
                <label class="item item-input" id="tambahSoal-textarea11">
                    <textarea placeholder="" ng-model="formData.kompetensiInti" rows="10"
                        ui-tinymce="tinymceOptions"></textarea>
                </label>
                <div class="spacer" style="height: 10px;"></div>

                <ion-item class="item-divider" id="tambahSoal-list-item-divider12">Kompetensi Dasar</ion-item>
                <label class="item item-input" id="tambahSoal-textarea12">
                    <textarea placeholder="" ng-model="formData.kompetensiDasar" rows="10"
                        ui-tinymce="tinymceOptions"></textarea>
                </label>
                <div class="spacer" style="height: 10px;"></div>

                <ion-item class="item-divider" id="tambahSoal-list-item-divider12">Jenis, Materi, Bobot Soal</ion-item>
                <label class="item item-select" id="tambahSoal-select14">
                    <span class="input-label">
                        <p>Jenis Soal</p>
                    </span>
                    <select ng-model="formData.jenisSoal" ng-change="getJenisSoal()">
                        <option>Pilihan Ganda</option>
                        <option>Essay</option>
                    </select>
                </label>
                <ion-item class="item-icon-right assertive" ng-click="buatMateriBaru()">Buat
                    Materi Soal
                    <i class="icon ion-ios-arrow-right icon-accessory"></i>
                </ion-item>
                <label class="item item-select">
                    <span class="input-label">
                        <p>Materi Soal</p>
                    </span>
                    <select ng-model="formData.idMateriSoal" ng-change="getMateri()">
                        <option ng-repeat="data in datas | orderBy:'materiSoal'" value="{{data.$id}}">
                            {{data.materiSoal}}
                        </option>
                    </select>
                </label>
                <label class="item item-select" id="tambahSoal-select15">
                    <span class="input-label">
                        <p>Bobot Soal</p>
                    </span>
                    <select ng-model="formData.bobotSoal">
                        <option>Mudah</option>
                        <option>Sedang</option>
                        <option>Sulit</option>
                    </select>
                </label>
                <div class="spacer" style="height: 10px;"></div>

                <ion-item class="item-divider" id="tambahSoal-list-item-divider12"> Isi Soal</ion-item>
                <label class="item item-input" id="tambahSoal-textarea13">
                    <textarea placeholder="" ng-model="formData.soal" rows="10" ui-tinymce="tinymceOptions"></textarea>
                </label>
                <div class="spacer" style="height: 10px;"></div>

                <ion-item class="item-divider" id="tambahSoal-list-item-divider13" ng-show="PG"> Pilihan Jawaban A
                </ion-item>
                <label class="item item-input" id="tambahSoal-textarea14" ng-show="PG">
                    <textarea placeholder="" ng-model="formData.jawabanA" rows="10"
                        ui-tinymce="tinymceOptions"></textarea>
                </label>
                <div class="spacer" style="height: 10px;" ng-show="PG"></div>

                <ion-item class="item-divider" id="tambahSoal-list-item-divider13" ng-show="PG"> Pilihan Jawaban B
                </ion-item>
                <label class="item item-input" id="tambahSoal-textarea15" ng-show="PG">
                    <textarea placeholder="" ng-model="formData.jawabanB" rows="10"
                        ui-tinymce="tinymceOptions"></textarea>
                </label>
                <div class="spacer" style="height: 10px;" ng-show="PG"></div>

                <ion-item class="item-divider" id="tambahSoal-list-item-divider13" ng-show="PG"> Pilihan Jawaban C
                </ion-item>
                <label class="item item-input" id="tambahSoal-textarea16" ng-show="PG">
                    <textarea placeholder="" ng-model="formData.jawabanC" rows="10"
                        ui-tinymce="tinymceOptions"></textarea>
                </label>
                <div class="spacer" style="height: 10px;" ng-show="PG"></div>

                <ion-item class="item-divider" id="tambahSoal-list-item-divider13" ng-show="PG"> Pilihan Jawaban D
                </ion-item>
                <label class="item item-input" id="tambahSoal-textarea17" ng-show="PG">
                    <textarea placeholder="" ng-model="formData.jawabanD" rows="10"
                        ui-tinymce="tinymceOptions"></textarea>
                </label>
                <div class="spacer" style="height: 10px;" ng-show="PG"></div>

                <ion-item class="item-divider" id="tambahSoal-list-item-divider13" ng-show="PG"> Pilihan Jawaban E
                </ion-item>
                <label class="item item-input" id="tambahSoal-textarea18" ng-show="PG">
                    <textarea placeholder="" ng-model="formData.jawabanE" rows="10"
                        ui-tinymce="tinymceOptions"></textarea>
                </label>
                <div class="spacer" style="height: 10px;" ng-show="PG"></div>

                <ion-item class="item-divider" id="tambahSoal-list-item-divider14" ng-show="PG"> Kunci dan Pembahasan
                </ion-item>
                <label class="item item-select" id="tambahSoal-select16" ng-show="PG">
                    <span class="input-label">
                        <p>Kunci Jawaban</p>
                    </span>
                    <select ng-model="formData.kunciJawaban">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                        <option>E</option>
                    </select>
                </label>
                <div class="spacer" style="height: 10px;" ng-show="PG"></div>

                <ion-item class="item-divider" id="editSoal-list-item-divider17"> Pembahasan Soal</ion-item>
                <label class="item item-input" id="tambahSoal-textarea19">
                    <textarea placeholder="" ng-model="formData.pembahasanSoal" rows="10"
                        ui-tinymce="tinymceOptions"></textarea>
                </label>
                <div class="spacer" style="height: 10px;"></div>

                <ion-item class="item-divider" id="editSoal-list-item-divider17"> Video Pembahasan Soal</ion-item>
                <label class="item item-input item-floating-label input">
                    <span class="input-label">
                        <p>Id Video Youtube</p>
                    </span>
                    <input type="text" placeholder="Id Video Youtube" ng-model="formData.videoPembahasan">
                </label>
                <ion-toggle toggle-class="toggle-positive" id="tambahSoal-toggle9" ng-model="formData.publish">
                    <p>Publish</p>
                </ion-toggle>
                <button id="tambahSoal-button4" class="button button-positive button-block">Simpan Soal</button>
            </form>
        </ion-list>
        <script id="templates/modal.html" type="text/ng-template" cache-view="false">
            <ion-modal-view>
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">Buat Materi Soal</h1>
                    <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
                </ion-header-bar>
                <ion-content padding="false" class="has-header" style="background-color:#EEEEEE;padding:10px">
                        <form class="list" ng-submit="simpanDataMateri()">
                                <label class="item item-select" id="tambahSoal-select12">
                                        <span class="input-label">
                                            <p>Jenjang</p>
                                        </span>
                                        <select ng-model="formData.jenjang" ng-change="getJenjang()">
                                            <option>SD</option>
                                            <option>SMP</option>
                                            <option>SMA</option>
                                            <option>SMK</option>
                                        </select>
                                    </label>
                                    <label class="item item-select" id="tambahSoal-select13">
                                        <span class="input-label">
                                            <p>Kelas</p>
                                        </span>
                                        <select ng-model="formData.kelas" ng-change="getKelas()">
                                            <option ng-repeat="data in kelas">{{data}}</option>
                                        </select>
                                    </label>
                                    <label class="item item-select">
                                        <span class="input-label">
                                            <p>Pelajaran</p>
                                        </span>
                                        <select ng-model="formData.idPelajaran" ng-change="getPelajaran()">
                                            <option value="{{data.$id}}" ng-repeat="data in mataPelajaran">{{data.pelajaran}}</option>
                                        </select>
                                    </label>
                            <label class="item item-input item-floating-label input" id="tambahSoal-input17">
                                <span class="input-label">
                                    <p>Materi Soal</p>
                                </span>
                                <input type="text" placeholder="Materi Soal" ng-model="formData.namaMateriSoal">
                            </label>
                            <button class="button button-positive button-block">Simpan Data</button>
                        </form>    
                </div>
    </div>
</ion-content>
            </ion-modal-view>
          </script>
    </div>
    </div>
</ion-content>
</ion-view>