<ion-view title="{{data.namaKecamatan}}" id="dataPokokPrasaranaAdmin">
    <ion-content padding="false" class="has-header">
        <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
                <ion-item class="item-avatar item-icon-right" ng-repeat="(x, y) in dataPrasaranaMuaraEnim"
                ng-click="getDataJenjang(x, y)">
                <img src="https://image.flaticon.com/icons/svg/138/138339.svg">
                <h2>Jenjang {{x}}</h2>
                <p>
                    <b style="color:green">{{y.length}}</b> Prasarana</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            </div>
        </div>
        

    </ion-content>
    <ion-footer-bar align-title="left" class="bar-dark">
        <button class="button button-clear pull-left">Data Prasarana</button>
        <button class="button button-clear pull-right">Total :
            <strong>{{totalPrasarana}}</strong> Prasarana</button>
    </ion-footer-bar>
</ion-view>