<ion-view title="Materi Pelajaran Edit" id="materiPelajaranEditAdmin" cache-view="false" class="latar">
    <ion-content padding="true" class="has-header">
        <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
                <ion-list id="materiPelajaranTambahAdmin-list19">
                    <form id="tambahmateriPelajaranTambahAdminSoal-form7" class="list" ng-submit="simpan()">
                        <ion-item class="item-divider" id="materiPelajaranTambahAdmin-list-item-divider11"> Info Materi
                            Pelajaran</ion-item>
                        <label class="item item-select" id="tambahSoal-select12">
                            <span class="input-label">
                                <p>Jenjang</p>
                            </span>
                            <select ng-model="formData.jenjang" ng-change="getJenjang()">
                                <option>SD</option>
                                <option>SMP</option>
                                <option>SMA</option>
                                <option>SMK</option>
                            </select>
                        </label>
                        <label class="item item-select" id="tambahSoal-select13">
                            <span class="input-label">
                                <p>Kelas</p>
                            </span>
                            <select ng-model="formData.kelas">
                                <option ng-repeat="data in kelas">{{data}}</option>
                            </select>
                        </label>
                        <label class="item item-select">
                            <span class="input-label">
                                <p>Pelajaran</p>
                            </span>
                            <select ng-model="formData.idPelajaran" ng-change="getPelajaran()">
                                <option value="{{data.$id}}" ng-repeat="data in mataPelajaran">{{data.pelajaran}}
                                </option>
                            </select>
                        </label>

                        <div class="spacer" style="height: 10px;"></div>
                        <ion-item class="item-divider" id="tambahSoal-list-item-divider12">Kompetensi Inti</ion-item>
                        <label class="item item-input" id="tambahSoal-textarea11">
                            <textarea placeholder="" ng-model="formData.kompetensiInti" rows="10"
                                ui-tinymce="tinymceOptions">
                            </textarea>
                        </label>

                        <div class="spacer" style="height: 10px;"></div>
                        <ion-item class="item-divider" id="tambahSoal-list-item-divider12">Kompetensi Dasar</ion-item>
                        <label class="item item-input" id="tambahSoal-textarea12">
                            <textarea placeholder="" ng-model="formData.kompetensiDasar" rows="10"
                                ui-tinymce="tinymceOptions">
                            </textarea>
                        </label>

                        <div class="spacer" style="height: 10px;"></div>
                        <ion-item class="item-divider" id="tambahSoal-list-item-divider12">BAB / Judul Materi Pelajaran
                        </ion-item>
                        <label class="item item-input item-floating-label input">
                            <span class="input-label">BAB/ Judul Materi Pelajaran</span>
                            <input type="text" placeholder="BAB / Judul Materi Pelajaran"
                                ng-model="formData.judulMateriPelajaran">
                        </label>

                        <!-- <ion-item class="item-divider" id="tambahSoal-list-item-divider12"> Isi Materi Pelajaran
                        </ion-item>
                        <label class="item item-input" id="tambahSoal-textarea13">
                            <textarea placeholder="" ng-model="formData.isiMateriPelajaran" rows="10"
                                ui-tinymce="tinymceOptions"></textarea></label>


                        <ion-item class="item-divider" id="editSoal-list-item-divider17"> Video Pembelajaran</ion-item>
                        <label class="item item-input item-floating-label input">
                            <span class="input-label">
                                <p>Link Video Youtube</p>
                            </span>
                            <input type="text" placeholder="Link Video Youtube" ng-model="formData.videoPembelajaran">
                        </label> -->
                        <ion-toggle toggle-class="toggle-positive" id="tambahSoal-toggle9" ng-model="formData.publish">
                            <p>Publish</p>
                        </ion-toggle>
                        <button id="tambahSoal-button4" class="button button-positive button-block">Simpan Data</button>
                    </form>
                </ion-list>
            </div>
        </div>


    </ion-content>
</ion-view>