<ion-view title="Lihat Absensi" id="absensiSiswaLihatAdmin" class="latar">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon button-dark icon ion-android-print" ng-click="excel()"></button>
</ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">

                <div class="item item-body">
                    <div class="show-list-numbers-and-dots">
                        <div class="row">
                            <div class="col-33" style="padding-left:10px">
                                <small>Tahun Ajaran <br>
                                    Semester<br>
                                    Pelajaran<br>
                                    Guru<br>
                                    Kelas<br>
                                    Tanggal<br>
                                    Sekolah<br>
                                </small>
                            </div>
                            <div class="col-67">
                                <small>
                                    : {{data.tahunAjaran}}<br>
                                    : {{data.semester}}<br>
                                    : {{data.pelajaran}}<br>
                                    : {{data.namaGuru}}<br>
                                    : {{data.namaKelas}}<br>
                                    : {{data.tanggalDisplay}}<br>
                                    : <span style="font-size: 10px">{{data.namaSekolah}}</span><br>
                                </small>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col" ng-repeat="(x, y) in absensiByGroup">
                                <div align="center"><span style="color:green">{{x}}</span><br>
                                    <span style="font-size:10px">{{y.length}} Siswa</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer" style="height: 10px;"></div>
                <ion-item class="item-divider input" id="registrasi-list-item-divider4"> Absensi Siswa
                </ion-item>
                <ion-list id="absensiSiswaLihat-list19">
                    <ion-item ng-repeat="data in dataGetAbs">
                        <p>{{$index+1}}. {{data.namaSiswa | uppercase}}
                            <span class="item-note" ng-if="data.keterangan==='Masuk'" style="color: green;">{{data.keterangan}}</span>
                            <span class="item-note" ng-if="data.keterangan==='Alpha'" style="color: red;">{{data.keterangan}}</span>
                            <span class="item-note" ng-if="data.keterangan==='Ijin'" style="color: orange;">{{data.keterangan}}</span>
                            <span class="item-note" ng-if="data.keterangan==='Sakit'" style="color: blue;">{{data.keterangan}}</span>
                        </p>
                    </ion-item>
                </ion-list>
                <div class="container-fluid " style="margin-top:20px;margin-bottom:20px; display: none;">
                  <div class="col-sm-12">
                      <div class="panel panel-default kotak-shadow">
                          <div class="panel-heading" style="background-color: white">
                              <h4>Absensi</h4>
                          </div>
                          <div class="panel-body" style="overflow: auto;">
                              <table id="danu-table" class="table table-hover table-responsive table-striped dtable"
                                  style="overflow:auto;font-size: 12px">
                                  <thead>
                                      <tr>
                                          <th align="center">No</th>
                                          <th>
                                            <div align="center">Tanggal</div>
                                          </th>
                                          <th>
                                              <div align="left">Kelas</div>
                                          </th>
                                          <th>
                                              <div align="center">Nama Siswa</div>
                                          </th>
                                          <th>
                                              <div align="center">Keterangan</div>
                                          </th>
                                      </tr>
                                  </thead>
                                  <tr ng-repeat="data in dataGetAbs | filter : searchData"
                                      ng-click="lihatData(y)">
                                      <td>
                                          <div align="center">{{$index+1}}</div>
                                      </td>
                                      <td align="left">{{data.tanggalDisplay}}</td>
                                      <th>
                                          <div align="left">{{data.namaKelas}}</div>
                                      </th>
                                      <td align="left">{{data.namaSiswa | uppercase}}</td>
                                      <td align="center">{{data.keterangan}}</td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer"><small></small></div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </ion-content>
</ion-view>
