<ion-view title="Beranda" id="berandaSekolah" class="latar">
    <style>
        .icon-btn {
          height: 30%;
          width: 35%;
        }
    
        .card {
          position: relative;
        }
    
        .vertical-center {
          margin: 0;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
    
        @media screen and (max-width: 770px) {
          .icon-btn {
            width: 25%;
          }
        }
    
        @media screen and (max-width: 540px) {
          .icon-btn {
            height: 30%;
            width: 35%;
          }
        }
    
      </style>
    <ion-content padding="false" class="has-header">
        <ion-slides disable-side-menu-drag=""
            options="{'loop': true,'initialSlide':0,'direction':horizontal,'effect':'fade','speed':500,'autoplay':2000,'grabCursor':true}"
            slider="slider1" delegate-handle="slider1" style="width:100%;height:200px;">
            <ion-slide-page class="bg-gradient-blue">
                <div class="spacer" style="width: 320px; height: 10px;"></div>
                <div class="row responsive-md" style="margin: auto;">
                    <div class="col col-50 col-offset-25">
                        <div class="row" style="margin: auto">
                            <div class="col col-33">
                                <img src="https://image.flaticon.com/icons/svg/145/145867.svg"
                                    style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
                                <!-- <img src="https://image.flaticon.com/icons/svg/145/145864.svg"
                                    ng-if="jenisKelaminGuru==='Perempuan'"> -->
                            </div>
                            <div class="col col-67" style="padding-left: 10px">
                                <h3 style="color:white">{{namaPenggunaSekolah}}</h3>
                                <div class="show-list-numbers-and-dots">
                                    <p style="font-size:12px;color:white"><strong>{{namaSekolah}}</strong><br>
                                        Admin Sekolah
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide-page>

            <ion-slide-page class="bg-gradient-blue">
                <div class="spacer" style="width: 320px; height: 0px;"></div>
                <div class="row responsive-md" style="margin: auto;">
                  <div class="col col-50 col-offset-25">
                    <div class="row" style="margin: auto">
                      <div class="col col-33">
                        <div ng-if="idSekolah!=='-MfbLcag5nLp210rIgPK'">
                          <img src="img/smartphone.png"
                          style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
                        </div>
                        <div ng-if="idSekolah==='-MfbLcag5nLp210rIgPK'">
                          <img src="../../../img/logo1sukasada.png"
                          style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
                        </div>
        
                      </div>
        
                        <div class="col col-67" style="padding-left: 0px">
                          <div ng-if="idSekolah!=='-MfbLcag5nLp210rIgPK'">
                            <h3 style="color:white;">HANDPHONE</h3>
                            <div class="show-list-numbers-and-dots">
                              <p style="color:white;font-size: 12px"><strong>Absensi, Ujian, Tugas dll
                                  Menggunakan
                                  Handphone</strong><br>
                                Cepat, Real Time, Transparan
                              </p>
                            </div>
                          </div>
                          <div ng-if="idSekolah==='-MfbLcag5nLp210rIgPK'">
                            <h3 style="color:white;">SMP NEGERI 1 SUKASADA</h3>
                            <h3 style="color:white;">VISI</h3>
                            <div class="show-list-numbers-and-dots">
                              <p style="color:white;font-size: 10px"><strong>BERKARAKTER, BERBUDAYA, BERWAWASAN LINGKUNGAN, MENUJU PROFIL PELAJAR PANCASILA</strong><br>
            
                              </p>
                            </div>
                          </div>
                        </div>
        
                    </div>
                  </div>
                </div>
              </ion-slide-page>
        
              <ion-slide-page class="bg-gradient-blue">
                <div class="spacer" style="width: 320px; height: 0px;"></div>
                <div class="row responsive-md" style="margin: auto;">
                  <div class="col col-50 col-offset-25">
                    <div class="row" style="margin: auto">
                      <div class="col col-33">
                        <div ng-if="idSekolah!=='-MfbLcag5nLp210rIgPK'">
                          <img src="https://image.flaticon.com/icons/svg/437/437553.svg"
                          style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
                        </div>
                        <div ng-if="idSekolah==='-MfbLcag5nLp210rIgPK'">
                          <img src="../../../img/logo1sukasada.png"
                          style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
                        </div>
        
                      </div>
        
                        <div class="col col-67" style="padding-left: 10px">
                          <div ng-if="idSekolah!=='-MfbLcag5nLp210rIgPK'">
                            <h3 style="color:white;">INTEGRASI</h3>
                            <div class="show-list-numbers-and-dots">
                              <p style="color:white;font-size: 12px"><strong>Langsung terintegrasi dengan
                                  sekolah,
                                  guru, siswa dan ortu</strong><br>
                                Cepat, Real Time, Transparan
                              </p>
                            </div>
                          </div>
                          <div ng-if="idSekolah==='-MfbLcag5nLp210rIgPK'">
                            <h3 style="color:white;">SMP NEGERI 1 SUKASADA</h3>
                            <h3 style="color:white;">SLOGAN</h3>
                            <div class="show-list-numbers-and-dots">
                              <p style="color:white;font-size: 12px"><strong>CERIA BERBUDAYA SANTUN (CERDAS)</strong><br>
                              </p>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </ion-slide-page>

        </ion-slides>
        <div ng-if="aksesAplikasi===true">
            <div class="container row responsive-md">
                <div class="col col-50" style="padding-bottom: 0;padding-top: 0;margin-bottom: 0;margin-top:0;">
                    <div class="row" style="margin-left: auto;margin-right: auto;">
                        <div class="col col-50" style="height: 20vh;margin:0">
                            <div class="card bg-card-gradient-blue" style="height: 100%;" ng-click="dataPokokSekolah()">
                                <center>
                                    <div class="vertical-center">
                                        <img src="../../../img/school2.svg" class="icon-btn">
                                        <h5 class="text-white text-center">Data Pokok Sekolah</h5>
                                    </div>
                                </center>

                            </div>
                        </div>
                        <div class="col col-50" style="height: 20vh;margin:0">
                            <div class="card bg-card-gradient-blue" style="height: 100%;"  ui-sref="menuSekolah.jadwalPelajaranSekolah()">
                                <center>
                                    <div class="vertical-center">
                                        <img src="../../../img/calendar.svg" class="icon-btn"/>
                                        <h5 class="text-white text-center">Jadwal Pelajaran</h5>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-50" style="padding-bottom: 0;padding-top: 0;margin-bottom: 0;margin-top:0;">
                    <div class="row" style="margin-left: auto;margin-right: auto;">
                        <div class="col col-50"style="height: 20vh;margin:0" >
                            <div class="card bg-card-gradient-blue" style="height: 100%;" ui-sref="menuSekolah.absensiSiswaPerHariSekolah()">
                                <center>
                                    <div class="vertical-center">
                                        <img src="../../../img/calendar2.svg" class="icon-btn"/>
                                        <h5 class="text-white text-center">Absensi Siswa</h5>
                                    </div>
                                </center>
                            </div>
                        </div>
                        <div class="col col-50"style="height: 20vh;margin:0">
                            <div class="card bg-card-gradient-blue" style="height: 100%;" ui-sref="menuSekolah.tugasSiswaSekolah()">
                                <center>
                                    <div class="vertical-center">
                                        <img src="../../../img/write.svg" class="icon-btn"/>
                                        <h5 class="text-white text-center">Tugas Siswa</h5>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-50" style="padding-bottom: 0;padding-top: 0;margin-bottom: 0;margin-top:0;">
                    <div class="row" style="margin-left: auto;margin-right: auto;">
                        <div class="col col-50" style="height: 20vh;margin:0">
                            <div class="card bg-card-gradient-blue" style="height: 100%;" ng-click="eLearning()">
                                <center>
                                    <div class="vertical-center">
                                        <img src="../../../img/monitor-screen.svg" class="icon-btn"/>
                                        <h5 class="text-white text-center">e-Learning</h5>
                                    </div>
                                </center>
                            </div>
                        </div>
                        <div class="col col-50" style="height: 20vh;margin:0">
                            <div class="card bg-card-gradient-blue" style="height: 100%;" ng-click="ujianOnline()">
                                <center>
                                    <div class="vertical-center">
                                        <img src="../../../img/test.svg" class="icon-btn"/>
                                        <h5 class="text-white text-center">Ujian Online</h5>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-50" style="padding-bottom: 0;padding-top: 0;margin-bottom: 0;margin-top:0;">
                    <div class="row" style="margin-left: auto;margin-right: auto;">
                        <div class="col col-50"style="height: 20vh;margin:0" >
                            <div class="card bg-card-gradient-blue" style="height: 100%;"  ui-sref="menuSekolah.videoTutorialSekolah()">
                                <center>
                                    <div class="vertical-center">
                                        <img src="../../../img/video-tutorial.svg" class="icon-btn"/>
                                        <h5 class="text-white text-center">Video Tutorial</h5>
                                    </div>
                                </center>
                            </div>
                        </div>
                        <div class="col col-50" style="height: 20vh;margin:0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
                <div class="list card" ng-if="aksesAplikasi===false || aksesAplikasi===undefined">
                    <ion-item class="item-divider putih"> Perhatian</ion-item>
                    <div class="item item-body">
                        <div class="show-list-numbers-and-dots">
                            <p style="margin-top:0px;color:#000000;">Akun Anda Belum Kami Verifikasi, Silahkan
                                Hubungi Admin
                                Aplikasi Online</p>
                        </div>
                    </div>
                    <!-- <ion-item class="item-icon-left" href="mailto:sudasacorporation@gmail.com">
                        <i class="icon ion-email"></i>sudasacorporation@gmail.com
                    </ion-item> -->
                    <ion-item class="item-icon-left" href="tel:081337210971">
                        <i class="icon ion-ios-telephone"></i>0813-3721-0971
                    </ion-item>
                    <!-- <ion-item class="item-icon-left" href="tel:081238171897">
                        <i class="icon ion-ios-telephone"></i>0812-3817-1897
                    </ion-item> -->
                    <!-- <ion-item class="item-icon-left" href="tel:081339308765">
                        <i class="icon ion-ios-telephone"></i>0813-3930-8765
                    </ion-item> -->
                    <ion-item class="item-icon-left"
                        href-inappbrowser="https://api.whatsapp.com/send?phone=6281337210971&amp;text= Registrasi-Sistem-Informasi-Sekolah-Untuk-Admin-Sekolah"
                        ng-click="getlinkWhatsapp()">
                        <i class="icon ion-social-whatsapp-outline"></i>0813-3721-0971
                    </ion-item>
                    <!-- <ion-item class="item-icon-left"
                        href-inappbrowser="https://api.whatsapp.com/send?phone=6281238171897&amp;text= Registrasi-LENTERA-DENPASAR-Untuk-Admin-Sekolah"
                        ng-click="getlinkWhatsapp()">
                        <i class="icon ion-social-whatsapp-outline"></i>0812-3817-1897
                    </ion-item> -->
                    <!-- <ion-item class="item-icon-left"
                        href-inappbrowser="https://api.whatsapp.com/send?phone=6281339308765&amp;text= Registrasi-Denpasar-Cerdas-Untuk-Admin-Sekolah"
                        ng-click="getlinkWhatsapp()">
                        <i class="icon ion-social-whatsapp-outline"></i>0813-3930-8765
                    </ion-item> -->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>