<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
      <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuAdmin"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="menuAdmin">
      <ion-header-bar class="bar bar-positive">
        <div class="title">Menu</div>
      </ion-header-bar>
      <ion-content padding="false" class="side-menu-left has-header ">
        <ion-list id="menu-list1" ng-if="ijinkanAkses===true">
          <ion-item id="menu-list-item1" ui-sref="menuAdmin.berandaAdmin()" menu-close="">
            <p>Beranda</p>
          </ion-item>
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Data Pokok Sekolah</p>
          </ion-item>
          <ion-item id="menu-list-item2" menu-close="" ui-sref="menuAdmin.dataSekolahAdmin()">
            <p>Data Sekolah</p>
          </ion-item>
          <ion-item id="menu-list-item2" menu-close="" ui-sref="menuAdmin.dataPokokPrasaranaAdmin()">
            <p>Data Prasarana</p>
          </ion-item>
          <ion-item id="menu-list-item2" menu-close="" ui-sref="menuAdmin.dataPokokSaranaAdmin()">
            <p>Data Sarana</p>
          </ion-item>
          <ion-item id="menu-list-item21" menu-close="" ui-sref="menuAdmin.dataPokokRombelAdmin()">
            <p>Data Rombel</p>
          </ion-item>
          <ion-item id="menu-list-item21" menu-close="" ui-sref="menuAdmin.dataPokokGuruAdmin()">
            <p>Data Guru</p>
          </ion-item>
          <ion-item id="menu-list-item22" menu-close="" ui-sref="menuAdmin.dataPokokSiswaAdmin()">
            <p>Data Siswa</p>
          </ion-item>
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Data Kurikulum</p>
          </ion-item>
          <ion-item id="menu-list-item31" ui-sref="menuAdmin.jadwalPelajaranAdmin()" menu-close="">
            <p>Jadwal Pelajaran</p>
          </ion-item>
          <!-- <ion-item id="menu-list-item32" ui-sref="menuAdmin.kkmAdmin()" menu-close="">
            <p>KKM</p>
          </ion-item>
          <ion-item id="menu-list-item33" ui-sref="menuAdmin.silabusAdmin()" menu-close="">
            <p>Silabus</p>
          </ion-item>
          <ion-item id="menu-list-item34" ui-sref="menuAdmin.rppAdmin()" menu-close="">
            <p>RPP</p>
          </ion-item> -->
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Data Absensi</p>
          </ion-item>
          <ion-item id="menu-list-item4" ui-sref="menuAdmin.absensiSiswaPerKecamatanAdmin()" menu-close="">
            <p>Absensi Siswa</p>
          </ion-item>
          <!-- <ion-item id="menu-list-item4" ui-sref="menuAdmin.absensiGuruAdmin()" menu-close="">
            <p>Absensi Guru</p>
          </ion-item> -->
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Data Tugas</p>
          </ion-item>
          <ion-item id="menu-list-item5" ui-sref="menuAdmin.tugasHomeSiswaAdmin()" menu-close="">
            <p>Tugas Siswa</p>
          </ion-item>
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>e-Learning</p>
          </ion-item>
          <ion-item id="menu-list-item6" ui-sref="menuAdmin.bankSoalAdmin()" menu-close="">
            <p>Bank Soal</p>
          </ion-item>
          <ion-item id="menu-list-item6" ui-sref="menuAdmin.materiPelajaranAdmin()" menu-close="">
            <p>Materi Pelajaran</p>
          </ion-item>
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Ujian, Tryout & SOC Online</p>
          </ion-item>
          <ion-item id="menu-list-item7" ui-sref="menuAdmin.ujianOnlineAdmin()" menu-close="">
            <p>Ujian Online</p>
          </ion-item>
          <ion-item id="menu-list-item7" ui-sref="menuAdmin.UTSUASAdmin()" menu-close="">
            <p>UTS / UAS Online</p>
          </ion-item>
          <ion-item id="menu-list-item8" ui-sref="menuAdmin.tryoutOnlineAdmin()" menu-close="">
            <p>Tryout Online</p>
          </ion-item>
          <!-- <ion-item id="menu-list-item9" ui-sref="menuAdmin.socAdmin()" menu-close="">
            <p>Students Online Competition</p>
          </ion-item> -->
  
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Pengaturan</p>
          </ion-item>
          <ion-item id="menu-list-item10" ui-sref="menuAdmin.tahunAjaranAdmin()" menu-close="">
            <p>Pengaturan Tahun Ajaran</p>
          </ion-item>
          <ion-item id="menu-list-item11" ui-sref="menuAdmin.semesterAdmin()" menu-close="">
            <p>Pengaturan Semester</p>
          </ion-item>
          <ion-item id="menu-list-item12" ui-sref="menuAdmin.pelajaranAdmin()" menu-close="">
            <p>Pengaturan Pelajaran</p>
          </ion-item>
          <ion-item id="menu-list-item12" ui-sref="menuAdmin.jenisPrasaranaAdmin()" menu-close="">
            <p>Jenis Prasarana</p>
          </ion-item>
          <ion-item id="menu-list-item12" ui-sref="menuAdmin.jenisSaranaAdmin()" menu-close="">
            <p>Jenis Sarana</p>
          </ion-item>
          <ion-item id="menu-list-item12" ui-sref="menuAdmin.dataAdmin()" menu-close="">
            <p>Data Admin</p>
          </ion-item>
          <ion-item id="menu-list-item12" ui-sref="menuAdmin.dataAdminSekolah()" menu-close="">
            <p>Data Admin Sekolah</p>
          </ion-item>
          <ion-item id="menu-list-item12" ui-sref="menuAdmin.dataGuruAllAdmin()" menu-close="">
            <p>Data Guru Seluruh</p>
          </ion-item>
  
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Data Akun</p>
          </ion-item>
          <ion-item id="menu-list-item13" ui-sref="menuAdmin.profilPenggunaAdmin()" menu-close="">
            <p>Profil Pengguna</p>
          </ion-item>
          <ion-item id="menu-list-item14" ui-sref="menuAdmin.gantiPasswordAdmin()" menu-close="">
            <p>Ganti Password</p>
          </ion-item>
          <!-- <ion-item id="menu-list-item15" ui-sref="menuAdmin.uploadFotoAdmin()" menu-close="">
            <p>Upload Foto</p>
          </ion-item> -->
          <ion-item id="menu-list-item16" ng-click="logoutAdmin()">
            <p>Keluar</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>