<ion-view title="Beranda" id="berandaAdmin" class="">
    <ion-content padding="false" class="">
        <ion-slides disable-side-menu-drag=""
            options="{'loop': true,'initialSlide':0,'direction':horizontal,'effect':'fade','speed':500,'autoplay':2000,'grabCursor':true}"
            slider="slider1" delegate-handle="slider1" style="width:100%;height:200px;">
            <ion-slide-page class="bg-gradient-blue">
                <div class="spacer" style="width: 320px; height: 0px;"></div>
                <div class="row responsive-md" style="margin: auto;">
                    <div class="col col-50 col-offset-25">
                        <div class="row" style="margin: auto">
                            <div class="col col-33">
                                <img src="https://image.flaticon.com/icons/svg/145/145867.svg"
                                    style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
                                <!-- <img src="https://image.flaticon.com/icons/svg/145/145864.svg"
                                    ng-if="jenisKelaminGuru==='Perempuan'"> -->
                            </div>
                            <div class="col col-67" style="padding-left: 10px">
                                <h3 style="color:white;font-weight:300;">{{namaAdmin}}</h3>
                                <div class="show-list-numbers-and-dots">
                                    <p style="color:white;font-size:12px"><strong>{{emailAdmin}}</strong><br>
                                        {{hakAkses}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ion-slide-page>

            <ion-slide-page class="bg-gradient-blue">
                <div class="spacer" style="width: 320px; height: 0px;"></div>
                <div class="row responsive-md" style="margin: auto;">
                    <div class="col col-50 col-offset-25">
                        <div class="row" style="margin: auto">
                            <div class="col col-33">
                                <img src="img/smartphone.png"
                                    style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
                            </div>
                            <div class="col col-67" style="padding-left: 10px">
                                <h3 style="color:white;">HANDPHONE</h3>
                                <div class="show-list-numbers-and-dots">
                                    <p style="color:white;font-size: 12px"><strong>Absensi, Ujian, Tugas dll Menggunakan
                                            Handphone</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide-page>

            <ion-slide-page class="bg-gradient-blue">
                <div class="spacer" style="width: 320px; height: 0px;"></div>
                <div class="row responsive-md" style="margin: auto;">
                    <div class="col col-50 col-offset-25">
                        <div class="row" style="margin: auto">
                            <div class="col col-33">
                                <img src="https://image.flaticon.com/icons/svg/437/437553.svg"
                                    style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
                            </div>
                            <div class="col col-67" style="padding-left: 10px">
                                <h3 style="color:white;">INTEGRASI</h3>
                                <div class="show-list-numbers-and-dots">
                                    <p style="color:white;font-size: 12px"><strong>Terintegrasi dengan sekolah,
                                            guru, siswa dan ortu</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide-page>

        </ion-slides>
        <div ng-if="ijinkanAkses===true">
            <div class="row responsive-md" style="margin: auto;">
                <div class="col col-50 col-offset-25">
                    <ion-item class="item-avatar item-icon-right" ng-repeat="(x, y) in dataSekolahMuaraEnim"
                    ng-click="getDataKecamatan(x, y)">
                    <img src="https://image.flaticon.com/icons/svg/1527/1527531.svg">
                    <h2>{{x}}</h2>
                    <p>
                        <b style="color:green">{{y.length}}</b> Sekolah</p>
                    <i class="icon ion-ios-arrow-right icon-accessory"></i>
                </ion-item>
                </div>
            </div>

        </div>

        <div ng-if="hakAkses!=='Super Admin'">
            <div class="list card" ng-if="ijinkanAkses===false || ijinkanAkses===undefined">
                <ion-item class="item-divider putih"> Perhatian</ion-item>
                <div class="item item-body">
                    <div class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">Akun Anda Belum Kami Verifikasi, Silahkan Hubungi
                            Admin
                            SOC Online</p>
                    </div>
                </div>
                <ion-item class="item-icon-left" href="mailto:soccorporation@gmail.com">
                    <i class="icon ion-email"></i>soccorporation@gmail.com</ion-item>
                <ion-item class="item-icon-left" href="tel:082176413799">
                    <i class="icon ion-ios-telephone"></i>0821-7641-3799</ion-item>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light">
        <button class="button button-clear pull-left">Data Sekolah</button>
        <button class="button button-dark pull-right">Total :
            <strong>{{totalSekolah}}</strong> Sekolah</button>
    </ion-footer-bar>
</ion-view>