<ion-view title="Bank Soal" id="bankSoalAdmin" cache-view="true" class="latar">
    
    <ion-content padding="false" class="has-header">
        <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Cari Data" ng-model="searchData">
        </label>
        <!-- <ion-list id="bankSoalAdmin-list19">
            <ion-item class="item-avatar item-icon-right" ng-repeat="(x,y) in dataSoal" ng-click="getData(x, y)">
                <img src="https://image.flaticon.com/icons/svg/201/201571.svg">
                <h4>{{x}}</h4>
                <p>
                    <b style="color:green">{{y.length}}</b> Jumlah Soal</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list> -->
        <ion-list id="bankSoalAdmin-list19">
            <ion-item class="item-avatar item-icon-right" ng-repeat="data in dataSoal | filter:searchData" ng-click="getData(data)">
                <img src="https://image.flaticon.com/icons/svg/201/201571.svg" ng-if="data.link===undefined || data.link===''">
                <img src="{{data.link}}" ng-if="data.link!==undefined || data.link!==''">
                <h4>{{data.pelajaran}}</h4>
               
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </div>
        </div>
    </ion-content>
</ion-view>