<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuGuru"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="menuGuru">
      <ion-header-bar class="bar-assertive">
        <div class="title">Menu</div>
      </ion-header-bar>
      <ion-content padding="false" class="side-menu-left has-header ">
        <ion-list id="menu-list1" ng-if="ijinPenggunaanAplikasi===true">
          <ion-item id="menu-list-item1" ui-sref="menuGuru.berandaGuru()" menu-close="">
            <p>Beranda</p>
          </ion-item>
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Data Pokok Sekolah</p>
          </ion-item>
          <ion-item id="menu-list-item2" menu-close="" ui-sref="menuGuru.dataSekolahEditGuru()">
            <p>Data Sekolah</p>
          </ion-item>
          <ion-item id="menu-list-item2" menu-close="" ui-sref="menuGuru.dataPrasaranaGuru()">
            <p>Data Prasarana</p>
          </ion-item>
          <ion-item id="menu-list-item2" menu-close="" ui-sref="menuGuru.dataSaranaGuru()">
            <p>Data Sarana</p>
          </ion-item>
          <ion-item id="menu-list-item21" menu-close="" ui-sref="menuGuru.dataKelasGuru()">
            <p>Data Rombel</p>
          </ion-item>
          <ion-item id="menu-list-item21" menu-close="" ui-sref="menuGuru.dataGuruGuru()">
            <p>Data Guru</p>
          </ion-item>
          <ion-item id="menu-list-item22" menu-close="" ui-sref="menuGuru.dataSiswaGuru()">
            <p>Data Siswa</p>
          </ion-item>
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Data Kurikulum</p>
          </ion-item>
          <ion-item id="menu-list-item31" ui-sref="menuGuru.jadwalPelajaranGuru()" menu-close="">
            <p>Jadwal Pelajaran</p>
          </ion-item>
          <!-- <ion-item id="menu-list-item32" ui-sref="menuGuru.kkmGuru()" menu-close="">
            <p>KKM</p>
          </ion-item>
          <ion-item id="menu-list-item33" ui-sref="menuGuru.silabusGuru()" menu-close="">
            <p>Silabus</p>
          </ion-item>
          <ion-item id="menu-list-item34" ui-sref="menuGuru.rppGuru()" menu-close="">
            <p>RPP</p>
          </ion-item> -->
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Data Absensi</p>
          </ion-item>
          <ion-item id="menu-list-item4" ui-sref="menuGuru.absensiSiswaGuru()" menu-close="">
            <p>Absensi Siswa</p>
          </ion-item>
          <!-- <ion-item id="menu-list-item4" ui-sref="menuGuru.absensiGuruGuru()" menu-close="">
            <p>Absensi Guru</p>
          </ion-item> -->
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Data Tugas</p>
          </ion-item>
          <ion-item id="menu-list-item5" ui-sref="menuGuru.tugasSiswaGuru()" menu-close="">
            <p>Tugas Siswa</p>
          </ion-item>
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>e-Learning</p>
          </ion-item>
          <ion-item id="menu-list-item6" ui-sref="menuGuru.bankSoalGuru()" menu-close="">
            <p>Bank Soal</p>
          </ion-item>
          <ion-item id="menu-list-item6" ui-sref="menuGuru.materiPelajaranGuru()" menu-close="">
            <p>Materi Pelajaran</p>
          </ion-item>
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Ujian, Tryout & SOC Online</p>
          </ion-item>
          <ion-item id="menu-list-item7" ui-sref="menuGuru.ujianOnlineGuru()" menu-close="">
            <p>Ujian Online</p>
          </ion-item>
          <ion-item id="menu-list-item7" ui-sref="menuGuru.UTSUASGuru()" menu-close="">
            <p>UTS / UAS Online</p>
          </ion-item>
          <ion-item id="menu-list-item8" ui-sref="menuGuru.tryoutOnlineGuru()" menu-close="">
            <p>Tryout Online</p>
          </ion-item>
          <!-- <ion-item id="menu-list-item9" ui-sref="menuGuru.socGuru()" menu-close="">
            <p>Students Online Competition</p>
          </ion-item> -->
  
          <!-- <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Pengaturan</p>
          </ion-item>
          <ion-item id="menu-list-item10" ui-sref="menuGuru.tahunAjaranGuru()" menu-close="">
            <p>Pengaturan Tahun Ajaran</p>
          </ion-item>
          <ion-item id="menu-list-item11" ui-sref="menuGuru.semesterGuru()" menu-close="">
            <p>Pengaturan Semester</p>
          </ion-item>
          <ion-item id="menu-list-item12" ui-sref="menuGuru.pelajaranGuru()" menu-close="">
            <p>Pengaturan Pelajaran</p>
          </ion-item>
          <ion-item id="menu-list-item12" ui-sref="menuGuru.jenisPrasaranaGuru()" menu-close="">
            <p>Jenis Prasarana</p>
          </ion-item>
          <ion-item id="menu-list-item12" ui-sref="menuGuru.jenisSaranaGuru()" menu-close="">
            <p>Jenis Sarana</p>
          </ion-item>
          <ion-item id="menu-list-item12" ui-sref="menuGuru.dataGuru()" menu-close="">
            <p>Data Guru</p>
          </ion-item> -->
  
          <ion-item class="item-divider" id="menu-list-item-divider3">
            <p>Data Akun</p>
          </ion-item>
          <ion-item id="menu-list-item13" ui-sref="menuGuru.profilPenggunaGuru()" menu-close="">
            <p>Profil Pengguna</p>
          </ion-item>
          <ion-item id="menu-list-item14" ui-sref="menuGuru.gantiPasswordGuru()" menu-close="">
            <p>Ganti Password</p>
          </ion-item>
          <!-- <ion-item id="menu-list-item15" ui-sref="menuGuru.uploadFotoGuru()" menu-close="">
            <p>Upload Foto</p>
          </ion-item> -->
          <ion-item id="menu-list-item16" ng-click="logoutGuru()">
            <p>Keluar</p>
          </ion-item>
        </ion-list>
      </div>
          </div>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>