<ion-view title="Aplikasi Daring" hide-nav-bar="true" cache-view="false" id="welcome">
    <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
       
        <ion-slides disable-side-menu-drag=""
            options="{'loop': true,'initialSlide':0,'direction':horizontal,'speed':500,'autoplay':2000,'grabCursor':true}"
            slider="slider1" delegate-handle="slider1" id="mainPage-slider1" style="width:100%;height:100%;">

            <ion-slide-page id="mainPage-slide24" >
                <div class="spacer" style="height: 40px;"></div>
                <div class="row responsive-md" style="margin: auto;">
                    <div class="col col-50 col-offset-25">
                        <div>
                            <img src="img/learning.png"
                                style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto; ">
                        </div>
                        <br>
                        <br>
                        <h1 id="mainPage-heading1" style="text-align:center;font-weight: 300;">Pembelajaran Daring </h1>
                        <div id="mainPage-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
                            <p style="padding: 20px;color:#818181">Sistem Informasi Sekolah Terintegrasi Secara Real Time dan Uptodate. Dinas Pendidikan Kota Denpasar bisa memonitoring semua aktivitas dan kegiatan yang terjadi di sekolah, di
                                kelas,
                                dan dapat memantau kegiatan siswa, guru dan lain-lain.
                            </p>
                        </div>
                        <a id="mainPage-button1" ng-click="login()" 
                        class="button button-assertive button-block btn-welcome" style="color: white;">Login</a>
                        <a id="mainPage-button2" ng-click="registrasi()"
                            class="button button-assertive button-block button-outline btn-welcome"> Belum Punya Akun ? Daftar
                            Sekarang</a>
                    </div>
                </div>
            </ion-slide-page>

            <!-- <ion-slide-page id="mainPage-slide24b" style="background-color: #f39c12">
                <div class="spacer" style="height: 70px;"></div>
                <div class="row responsive-md" style="margin: auto;">
                    <div class="col col-50 col-offset-25">
                        <div>
                            <img src="https://image.flaticon.com/icons/svg/167/167707.svg"
                                style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
                        </div>
                        <h4 id="mainPage-heading1" style="color:#FFFFFF;text-align:center;">Simanis
                             For
                            School</h4>
                        <div id="mainPage-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
                            <p style="color:#FFFFFF;padding: 20px">
                                Sekolah bisa memonitoring semua aktivitas dan kegiatan yang terjadi di sekolah, di
                                kelas,
                                dan dapat memantau kegiatan siswa, guru dan lain-lain.
                            </p>
                        </div>
                        <a id="mainPage-button1" ng-click="registrasi()"
                            class="button button-light button-block btn-welcome">Daftar
                            Sekarang</a>
                        <a id="mainPage-button2" ng-click="login()"
                            class="button button-light button-block button-outline btn-welcome">Sudah Punya Akun? Login
                            Disini
                        </a>
                    </div>
                </div>
            </ion-slide-page> -->

            <ion-slide-page id="mainPage-slide24" >
                <div class="spacer" style="height: 40px;"></div>
                <div class="row responsive-md" style="margin: auto;">
                    <div class="col col-50 col-offset-25">
                        <div>
                            <img src="https://image.flaticon.com/icons/svg/1995/1995539.svg"
                                style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
                        </div>
                        <h1 id="mainPage-heading1" style="text-align:center;font-weight: 300;">Pembelajaran Daring </h1>

                        <div id="mainPage-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
                            <p style="padding: 20px;color:#818181">Guru bisa membuat ujian online, mulai dari
                                ulangan
                                harian, latihan soal, kuis online, UTS/UAS, Tryout Online dan lain-lain, juga bisa
                                membuat
                                jadwal pelajaran, absensi dan tugas.
                            </p>
                        </div>
                        <a id="mainPage-button1" ng-click="login()" 
                        class="button button-assertive button-block btn-welcome" style="color: white;">Login</a>
                        <a id="mainPage-button2" ng-click="registrasi()"
                            class="button button-assertive button-block button-outline btn-welcome"> Belum Punya Akun ? Daftar
                            Sekarang</a>
                    </div>
                </div>
            </ion-slide-page>

            <ion-slide-page id="mainPage-slide24">
                <div class="spacer" style="height: 40px;"></div>
                <div class="row responsive-md" style="margin: auto;">
                    <div class="col col-50 col-offset-25">
                        <div>
                            <img src="https://image.flaticon.com/icons/svg/2598/2598288.svg"
                                style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
                        </div>
                        <h1 id="mainPage-heading1" style="text-align:center;font-weight: 300;">Pembelajaran Daring </h1>
                        <div id="mainPage-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
                            <p style="padding: 20px;color:#818181">Siswa bisa melakukan ujian online, memantau
                                kehadiran, memantau tugas dan menerima informasi-informasi dari guru.
                            </p>
                        </div>
                        <a id="mainPage-button1" ng-click="login()" 
                        class="button button-assertive button-block btn-welcome" style="color: white;">Login</a>
                        <a id="mainPage-button2" ng-click="registrasi()"
                            class="button button-assertive button-block button-outline btn-welcome"> Belum Punya Akun ? Daftar
                            Sekarang</a>
                    </div>
                </div>
            </ion-slide-page>

            <ion-slide-page id="mainPage-slide25" >
                <div class="spacer" style="height: 40px;"></div>
                <div class="row responsive-md" style="margin: auto;">
                    <div class="col col-50 col-offset-25">
                        <div>
                            <img src="img/smartphone.png"
                                style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
                        </div>
                        <h1 id="mainPage-heading1" style="text-align:center;font-weight: 300;">Pembelajaran Daring </h1>

                        <div id="mainPage-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
                            <p style="padding: 20px;color:#818181">Data tersaji secara cepat, real time, akurat dan
                                transparan, juga terintegrasi dengan admin sekolah, guru, siswa dan orang tua.</p>
                        </div>
                        <a id="mainPage-button1" ng-click="login()" 
                        class="button button-assertive button-block btn-welcome" style="color: white;">Login</a>
                        <a id="mainPage-button2" ng-click="registrasi()"
                            class="button button-assertive button-block button-outline btn-welcome"> Belum Punya Akun ? Daftar
                            Sekarang</a>
                    </div>
                </div>
            </ion-slide-page>

        </ion-slides>

        
                    
    </ion-content>
</ion-view>