<ion-view title="Profil Pengguna" id="profilPengguna" style="background-color:#EEEEEE">
    <ion-content padding="false" class="has-header">
        <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
                <form class="list" ng-submit="simpan()">
                    <label class="item item-input">
                        <span class="input-label">
                            <p>Nama Lengkap</p>
                        </span>
                        <input type="text" placeholder="Nama Lengkap" ng-model="formData.namaPengguna">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">
                            <p>No Handphone</p>
                        </span>
                        <input type="tel" placeholder="No Handphone" ng-model="formData.noHandphone">
                    </label>
                    <label class="item item-input">
                        <textarea placeholder="Alamat" ng-model="formData.alamat" rows="5"></textarea>
                    </label>
                    <label class="item item-select">
                        <span class="input-label">
                            <p>Jenis Kelamin</p>
                        </span>
                        <select ng-model="formData.jenisKelamin">
                            <option>Laki-laki</option>
                            <option>Perempuan</option>
                        </select>
                    </label>
                    <button class="button button-balanced button-block">Simpan Data</button>
                </form>
            </div>
        </div>
        
    </ion-content>
</ion-view>