<ion-view title="Registrasi Guru" id="registrasiGuru" style="background-color:#EEEEEE;">
    <ion-content padding="false" class="has-header">
        <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
                <form id="registrasi-form1" class="list" ng-submit="daftar()" name="myForm">

                    <ion-item class="item-divider input" id="registrasi-list-item-divider5"> Data Diri</ion-item>
                    <label class="item item-input item-floating-label input" id="registrasi-input6">
                        <span class="input-label">
                            <p>Nama Lengkap</p>
                        </span>
                        <input type="text" placeholder="Nama Lengkap" ng-model="formData.namaPengguna">
                    </label>

                    <div class="spacer" style="height: 10px;"></div>
                    <ion-item class="item-divider input" id="registrasi-list-item-divider6"> Username &amp; Password
                    </ion-item>
                    <label class="item item-input item-floating-label input">
                        <span class="input-label">
                            <p>Email</p>
                        </span>
                        <input type="email" placeholder="Email Address" ng-model="formData.email" name="email">
                        <small class="help-block" ng-show="myForm.email.$touched &amp;&amp; myForm.email.$invalid"
                            style="color: red">Enter a valid email address</small>
                    </label>
                    <label class="item item-input item-floating-label input" id="registrasi-input10">
                        <span class="input-label">
                            <p>Password</p>
                        </span>
                        <input type="password" placeholder="Password" ng-model="formData.password">
                    </label>
                    <label class="item item-input item-floating-label input" id="registrasi-input11">
                        <span class="input-label">
                            <p>Ketik Ulang Password</p>
                        </span>
                        <input type="password" placeholder="Ketik Ulang Password"
                            ng-model="formData.ketikUlangPassword">
                    </label>

                    <button id="registrasi-button3" class="button button-balanced button-block">Daftarkan
                        Sekarang</button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>