<ion-view title="{{data.namaSekolah}}" id="dataSaranaAdmin">
    <!-- <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-android-add" ng-click="tambahSarana()"> Tambah</button>
    </ion-nav-buttons> -->
    <ion-content padding="false" class="has-header">
        <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
                <ion-list>
                    <ion-item class="item-divider"> Data Pokok Sekolah</ion-item>
                    <ion-item class="item-avatar item-icon-right" ng-click="dataPokokSekolah()">
                        <img src="https://image.flaticon.com/icons/svg/2777/2777287.svg">
                        <h2>Data Pokok Sekolah</h2>
                        <p style="white-space:normal;">
                            <small>
                                <em>Didalamnya terdapat data sekolah, prasarana, sarana, rombel, guru dan
                                    siswa.</em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item>

                    <div class="spacer" style="height: 10px;"></div>
                    <ion-item class="item-divider"> Jadwal, Absensi dan Tugas</ion-item>
                    <ion-item class="item-avatar item-icon-right" ng-click="getJadwal()">
                        <img src="https://image.flaticon.com/icons/svg/3164/3164217.svg">
                        <h2>Jadwal Pelajaran</h2>
                        <p style="white-space:normal;">
                            <small>
                                <em>Pengaturan jadwal pelajaran yang dilakukan oleh guru, terintegrasi langsung ke
                                    siswa dan
                                    orang tua.</em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" ng-click="getAbsensi()">
                        <img src="https://image.flaticon.com/icons/svg/3036/3036019.svg">
                        <h2>Absensi Siswa</h2>
                        <p style="white-space:normal;">
                            <small>
                                <em>Pembuatan absensi siswa dilakukan oleh guru, terintegrasi langsung ke siswa dan
                                    orang tua.</em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" ng-click="getTugasSiswa()">
                        <img src="https://image.flaticon.com/icons/svg/3036/3036665.svg">
                        <h2>Tugas Siswa</h2>
                        <p style="white-space:normal;">
                            <small>
                                <em>Pembuatan tugas siswa dilakukan oleh guru, terintegrasi langsung ke siswa dan
                                    orang tua.</em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item>

                    <div class="spacer" style="height: 10px;"></div>
                    <ion-item class="item-divider"> eLearning & Ujian Online</ion-item>
                    <ion-item class="item-avatar item-icon-right" ng-click="eLearning()">
                        <img src="https://image.flaticon.com/icons/svg/3036/3036633.svg">
                        <h2>e-Learning</h2>
                        <p style="white-space:normal;">
                            <small>
                                <em>Didalamnya terdapat bank soal dan materi pelajaran yang bisa dibuat dan disusun
                                    oleh
                                    guru.</em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item>
                    
                    <ion-item class="item-avatar item-icon-right" ng-click="ujianOnline()">
                        <img src="https://image.flaticon.com/icons/svg/3036/3036702.svg">
                        <h2>Ujian Online</h2>
                        <p style="white-space:normal;">
                            <small>
                                <em>Guru bisa membuat ujian online sendiri, seperti : ulangan harian, latihan soal,
                                    kuis
                                    online, tryout online, UTS dan UAS </em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item>

                    <!-- <div class="spacer" style="height: 10px;"></div>
                    <ion-item class="item-divider"> Video Tutorial</ion-item>
                    <ion-item class="item-avatar item-icon-right" ui-sref="menuSekolah.videoTutorialSekolah()">
                        <img src="https://image.flaticon.com/icons/svg/3036/3036707.svg">
                        <h2>Video Tutorial</h2>
                        <p style="white-space:normal;">
                            <small>
                                <em>Ini adalah video tutorial penggunaan aplikasi untuk admin sekolah.</em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item> -->

                    <!-- <div class="spacer" style="height: 10px;"></div>
                    <ion-item class="item-divider"> Layanan Lainnya</ion-item>
                    <ion-item class="item-avatar item-icon-right" ui-sref="menuSekolah.visiMisiSekolah()">
                        <img src="https://image.flaticon.com/icons/svg/3164/3164212.svg">
                        <h3>Visi Misi Sekolah</h3>
                        <p style="white-space:normal;">
                            <small>
                                <em>Ini adalah visi dan misi sekolah.</em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" ng-click="tentangKami()">
                        <img src="https://image.flaticon.com/icons/svg/3164/3164264.svg">
                        <h3>Tentang Sekolah</h3>
                        <p style="white-space:normal;">
                            <small>
                                <em>Ini adalah infromasi tentang sekolah Anda.</em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" ui-sref="menuSekolah.beritaSekolah()">
                        <img src="https://image.flaticon.com/icons/svg/3164/3164157.svg">
                        <h3>Berita Sekolah</h3>
                        <p style="white-space:normal;">
                            <small>
                                <em>Ini adalah kumpulan berita sekolah.</em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" ui-sref="menuSekolah.informasiSekolah()">
                        <img src="https://image.flaticon.com/icons/svg/3164/3164190.svg">
                        <h3>Informasi Sekolah</h3>
                        <p style="white-space:normal;">
                            <small>
                                <em>Ini adalah kumpulan informasi sekolah.</em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" ng-click="layananKami()">
                        <img src="https://image.flaticon.com/icons/svg/3164/3164147.svg">
                        <h3>Layanan Dinas Untuk Sekolah</h3>
                        <p style="white-space:normal;">
                            <small>
                                <em>Ini adalah layanan Dinas Pendidikan Untuk Sekolah.</em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" ui-sref="menuSekolah.fotoSekolah()">
                        <img src="https://image.flaticon.com/icons/svg/3164/3164228.svg">
                        <h3>Album Foto</h3>
                        <p style="white-space:normal;">
                            <small>
                                <em>Ini adalah kumpulan album foto sekolah.</em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" ui-sref="menuSekolah.videoSekolah()">
                        <img src="https://image.flaticon.com/icons/svg/3164/3164252.svg">
                        <h3>Album Video</h3>
                        <p style="white-space:normal;">
                            <small>
                                <em>Ini adalah kumpulan album video Sekolah.</em>
                            </small>
                        </p>
                        <i class="icon ion-ios-arrow-right icon-accessory"></i>
                    </ion-item> -->
                </ion-list>
            </div>
        </div>
       

    </ion-content>
</ion-view>